<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img height="150px" width="150px" src="https://lh3.googleusercontent.com/proxy/Xs6-hq3RsmljaTwIiSOMRFUbUkyoGpcezB_Vop6Q_qgiXMwdik6R5jKNmobko_pVBMR_j6tXekF0Pfuu9kmzP4yB7yIc5kREur_rcyxEuf_1L9g0RqwyJuahmQHrGAPz">

  <h2>Name: {{ user?.name }}</h2>
  <p>{{ user?.email }}</p>
  <h3>Role {{ user?.role }}</h3>
  <p>Member Since: </p>

  <ion-button color="secondary">Reset Password</ion-button>
  <ion-button color="secondary">Delete Account</ion-button>

</ion-content>
