<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="info()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Ionic Marketplace</ion-title> -->
    <!-- <ion-title>UnderGroundStores.com</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-header">
    <div style="display: flex; align-items: center; justify-content: center;">
      <img class="img-small" height="50%" width="50%" src="https://i.ibb.co/CHBzgNy/ezgif-com-gif-maker-2.gif">
    </div>
  </ion-card>

  <div class="flip-container" #flipcontainer>
    <div class="flipper">

      <div class="front">
        <ion-card class="ion-margin-vertical">
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
      
              <ion-item lines="none">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" placeholder="john@doe.com" formControlName="email"></ion-input>
              </ion-item>
      
              <ion-item lines="none">
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>

              <ion-button expand="block" type="submit" color="secondary"
              class="ion-padding-horizontal ion-margin-vertical" [disabled]="!loginForm.valid">
                Sign In
              </ion-button>

              <ion-button expand="block" type="button" color="secondary" fill="outline" 
              class="ion-padding-horizontal ion-margin-vertical" (click)="toggleRegister()">
                Create Account
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="back">
        <ion-card class="ion-margin-vertical">
          <ion-card-header>
            <ion-card-title>New Account</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
      
              <ion-item lines="none">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" placeholder="john@doe.com" formControlName="email"></ion-input>
              </ion-item>
      
              <ion-item lines="none">
                <ion-label position="stacked">Name</ion-label>
                <ion-input placeholder="John" formControlName="name"></ion-input>
              </ion-item>
      
              <ion-item lines="none">
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
      
              <ion-item lines="none">
                <ion-label>Select Role</ion-label>
                <ion-select formControlName="role">
                    <ion-select-option value="BUYER">Buyer</ion-select-option>
                    <ion-select-option value="SELLER">Seller</ion-select-option>
                </ion-select>
              </ion-item>
      
              <ion-button expand="block" type="submit" class="ion-padding-horizontal ion-margin-vertical"
              color="secondary" [disabled]="!registrationForm.valid">
                Register
              </ion-button>
      
              <ion-button expand="block" type="button" color="secondary" fill="clear"
              class="ion-padding-horizontal ion-margin-vertical" (click)="toggleRegister()">
              <ion-icon name="arrow-back" slot="start"></ion-icon>
                Back to Login
              </ion-button>
      
            </form>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>
